.Training {
  padding: 40px 16px;

  height: 100%;
}

.counts {
  display: flex;
  box-sizing: border-box;

  gap: 74px;

  padding-left: 137px;
}

.countsAndGoals {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  margin-bottom: 40px;
  position: relative;
}

.calendars {
  display: flex;
  width: 928px;
  gap: 44px;
  margin: 28px 0 28px;
  padding-left: 170px;
  box-sizing: border-box;
}

.statistics {
  box-sizing: border-box;
  width: 288px;
  height: 340px;
  display: flex;
  padding: 20px 24px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  overflow: hidden;
}

.Schedule {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 44px 0 44px 44px;
  flex-shrink: 0;
  width: 928px;
  height: 340px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
}

.ScheduleTitle {
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.ScheduleTitleSpan {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background: #f5f7fa;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  color: var(--deep-blue, #242a37);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
}

.statisticsAndSchedule {
  box-sizing: border-box;
  display: flex;

  justify-content: space-between;
}

.listAndAll {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 0;
}

.goalsAndTrainingList {
  display: flex;
  box-sizing: border-box;
}

.trainingAndCalendars {
  width: 928px;
}

.iconBtn {
  fill: white;
}

.iconBack {
  fill: #ff6b08;
  margin-bottom: 32px;
}

/* ======================================================================================================= */

@media screen and (min-width: 768px) and (max-width: 1260px) {
  .Training {
    padding: 32px;
  }

  .countsAndGoals {
    flex-direction: column;
  }

  .statisticsAndSchedule {
    flex-direction: column;
  }

  .statistics {
    width: 100%;
  }

  .counts {
    order: 0;
    width: 100%;
    gap: 32px;

    padding: 0;
    justify-content: center;
    margin-bottom: 36px;
  }

  .listAndAll {
    order: 3;
  }

  .trainingAndCalendars {
    order: 6;
    width: 100%;
  }

  .goalsAndTrainingList {
    flex-direction: column;
  }

  .calendars {
    width: 100%;
    padding: 0;
  }

  .Schedule {
    margin-bottom: 40px;

    width: 100%;
  }

  .statistics {
    padding: 0;
    width: 100%;
  }
}

/* ================================================================================================ */

@media screen and (max-width: 767px) {
  .Training {
    padding: 24px 20px;
  }
  .statisticsAndSchedule {
    flex-direction: column;
    gap: 32px;
  }

  .Schedule {
    width: 100%;
    position: relative;
  }

  .trainingAndCalendars {
    order: 6;
    width: 100%;
  }

  .countsAndGoals {
    margin: 0;
  }

  .statistics {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .counts {
    order: 1;
    padding: 0;
    gap: 24px;
    flex-direction: column;
  }

  .goalsAndTrainingList {
    flex-direction: column;
  }

  .listAndAll {
    order: 3;
  }
}
