.Training {
  padding: 40px 16px;
}

.calendars {
  display: flex;
}

.countsAndGoals {
  display: flex;
  justify-content: space-between;
}

.counts {
  display: flex;
  /* box-sizing: content-box; */
  width: 100%;
  gap: 74px;
  /* align-self: flex-start; */
  padding-left: 137px;
}

.calendars {
  display: flex;

  gap: 44px;
  margin: 24px 0 24px 170px;
}

.countsAndTrainingAndCalendars {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
