.navigation {
  border: none;
  background: none;
  padding: 0;
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 271.429% */
  text-decoration-line: underline;
  display: block;
  box-sizing: content-box;
  cursor: pointer;
}

.authFormBtn {
  width: 320px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #ff6b08;
  outline: none;
  border: none;
  margin-top: 32px;
  margin-bottom: 20px;
}

.Google {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  background: #f5f7fa;
  box-shadow: 0px 2px 2px 0px rgba(9, 30, 63, 0.15);
  color: #707375;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 237.5% */
  border: none;
  /* margin: 0 auto 28px; */
  cursor: pointer;
}

.modalTextButton,
.logOutWindowBtn {
  display: block;
  box-sizing: border-box;
  width: 127px;
  height: 40px;
  background: transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--deep-blue, #242a37);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #000;
  outline: none;
  margin: 0 auto;
  cursor: pointer;
}

.modalTextButton:hover,
.logOutWindowBtn:hover {
  background: #ff6b08;
  border: none;
  color: #fff;
}

.BookFormBtn {
  width: 181px;
  height: 42px;
  border: 1px solid var(--deep-blue, #242a37);
  background: #f6f7fb;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  align-self: flex-end;
  margin-left: 48px;
}

.BookFormBtn,
.select {
  margin-left: 32px;
}

.BookFormBtn:hover {
  border: none;
  color: white;
  background: #ff6b08;
}

.mobileForm {
  width: 52px;
  height: 52px;
  background-color: #ff6b08;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  /* z-index: 1; */
  top: 100%;
  left: 50%;
  transform: translate(-26px, -50%);
}

.startTraning {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6b08;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
}

/* ================================================================================================ */
@media screen and (min-width: 768px) and (max-width: 1150px) {
  .BookFormBtn {
    margin: 40px auto 0;
    order: 1;
  }
}
/* ============================================================================================= */

@media screen and (max-width: 767px) {
  .authFormBtn {
    width: 280px;
  }

  .BookFormBtn {
    width: 171px;
    margin-top: 40px;
    margin-left: 0;
  }
}
