.BookForm {
  display: flex;
  margin-bottom: 80px;
}

.labelBox {
  display: flex;
}

.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #898f9f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  order: 0;
  position: relative;
}

.error {
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 12px;
  position: absolute;
  font-weight: 500;
  right: 1px;
  top: 26px;
  width: 150px;
  text-align: right;
}

.label:not(:last-of-type) {
  margin-right: 16px;
  margin-bottom: 0;
}

.label:first-of-type input {
  width: 346px;
}

.label:nth-child(2) input {
  width: 250px;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 134px;
  height: 42px;
  border: 1px solid #a6abb9;
  background: #f6f7fb;
  padding: 13px;
  margin-top: 8px;
}

.input:focus {
  border: 1px solid #a6abb9;
  outline: none;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(29, 29, 27, 0.15) inset;
}

/* =========================================================================================== */

@media screen and (min-width: 768px) and (max-width: 1260px) {
  .BookForm {
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 32px;
    margin-bottom: 40px;
    justify-content: center;
  }

  .labelBox {
    flex-wrap: wrap;
    column-gap: 32px;
    justify-content: center;
  }

  .label:not(:last-of-type) {
    margin: 0;
  }

  .label:first-of-type input {
    width: 704px;
    margin-bottom: 24px;
  }

  .label:nth-child(2) input {
    width: 336px;
  }

  .input {
    width: 152px;
  }
}

/* =============================================================================================== */
@media screen and (max-width: 767px) {
  .BookForm {
    flex-wrap: wrap;
    column-gap: 32px;
    margin-bottom: 40px;
    justify-content: center;
  }

  .labelBox {
    flex-wrap: wrap;
    column-gap: 32px;
    justify-content: center;
    margin: 0 auto;
  }

  .input {
    width: 280px;
  }

  .label {
    margin: 0;
    width: 280px;
  }

  .label:not(:last-of-type) {
    margin: 0 0 20px;
  }

  .label:nth-child(2) input {
    width: 280px;
  }

  .label:first-of-type input {
    width: 280px;
  }
}
