.Button {
  display: flex;
  justify-content: center;

  margin-top: 32px;
}

.Button {
  width: 928px;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .Button {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .Button {
    margin-bottom: 32px;
  }

  .Button {
    width: auto;
  }
}
