.home {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
}

.listText {
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 8px;
  display: flex;
  align-items: center;
}

.listTitle {
  margin: 0 0 16px;
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.list {
  list-style-type: none;
  margin: 0 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.listSpanBoxFirst {
  color: #898f9f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 35px;
}

.listSpanBoxSecond {
  color: #898f9f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 28px;
}

.icon {
  fill: #a6abb9;
  margin-right: 12px;
}

.iconVector {
  fill: #ff6b08;
  margin-right: 8px;
}

.iconBack {
  z-index: 111;
  fill: #ff6b08;
  margin-bottom: 32px;
  text-align: left;
}

/* =========================================================================================== */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .home {
    padding: 32px;
  }
}

/* =================================================================================================== */

@media screen and (max-width: 767px) {
  .home {
    padding: 20px;
  }

  .listSpanBoxFirst,
  .listSpanBoxSecond {
    display: flex;
  }

  .iconVector {
    flex-shrink: 0;
  }
}
