.icon {
  height: 42px;
  display: block;
  padding: 0 !important;
  fill: #a6abb9;
  margin-right: 16px;
  margin-left: 12px;
  flex-shrink: 0;
}

.timeInputLabel {
  box-sizing: border-box;
  border: 1px solid #a6abb9;
  background: #f6f7fb;
  width: 250px;
  height: 42px;
  outline: none;

  color: #a6abb9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 12px 12px 45px !important;
}

.picker {
  height: 42px;
  position: relative;
}

.iconInput {
  position: absolute;

  fill: #c4c7d2;
  top: 12px;

  right: 7px;
}

/* ======================================================================================================= */

@media screen and (min-width: 768px) and (max-width: 1150px) {
}

/* ================================================================================================ */

@media screen and (max-width: 767px) {
  .timeInputLabel {
    width: 280px;
    align-self: center;
  }
}
