.labelBox {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.timeInput,
.pagesInput {
  box-sizing: border-box;
  width: 110px;
  height: 42px;
  border-radius: 0;
  border: 1px solid #a6abb9;
  background: #f6f7fb;
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
  outline: none;
  padding: 12px 12px;
}

.timeInput,
.pagesInput:focus {
  border: 1px solid #a6abb9;
}

.Label {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #898f9f;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 !important;
  position: relative;
}

.error {
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 12px;
  position: absolute;
  font-weight: 500;
  right: 1px;
  top: 18px;
  width: 150px;
  text-align: right;
}

.timeInputWrapper {
  position: relative;
}

.iconInput {
  position: absolute;
  width: 15px;
  height: 15px;
  fill: #c4c7d2;
  top: 20px;

  right: 6px;
}

.totalPagesBox {
  margin-top: 4px;
  width: 110px;
  height: 42px;
  background: #f5f7fa;
  box-shadow: 4px 4px 8px 0px rgba(36, 42, 55, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #091e3f;
  text-align: center;
  font-family: "Open Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.totalPagesBoxWrapper {
  display: flex;
  flex-direction: column;
}

.totalPagesText {
  color: #898f9f;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapperTitle {
  color: var(--deep-blue, #242a37);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
}
/* =======================================================================================================  */

@media screen and (min-width: 768px) and (max-width: 1260px) {
  .BookForm {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
    gap: 32px;
  }

  .labelBox {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    margin-bottom: 28px;
  }

  .wrapper {
    padding: 30px 96px;
  }
}

/* ================================================================================================ */

@media screen and (max-width: 767px) {
  .BookForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
