.text {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
}

.textMainTitle {
  color: #242a37;
  font-family: "Abril Fatface";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 111.765% */
  text-align: center;
  margin: 0 0 48px;
}

.textTitle {
  margin: 0 0 14px;
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 190% */
}

.textListItem {
  list-style-type: none;
  color: #898f9f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.textList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.textListItemText {
  margin: 0;
}

.icon {
  fill: #ff6b08;
  margin-right: 5px;
  flex-shrink: 0;
}

.textBlockFirst {
  margin-bottom: 32px;
}

/* ================================================================================================ */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .text {
    padding: 64px 159px 88px;
  }
}

/* ============================================================================================= */
