.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.listforTraining {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  /* height: 100%; */
  /* padding: 20px 0 20px; */
}

/* =================================================================================================== */

.titles {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  padding-right: 84px;
  position: relative;
  color: #898f9f;
  font-family: Montserrat;
  font-size: 14px;

  font-weight: 500;
}

.titlesforTraining {
  border-top: 1px solid #e0e5eb;
  border-bottom: 1px solid #e0e5eb;
  /* margin-bottom: 12px; */
  padding: 11px 161px 11px 0;
  margin-bottom: 0;
  width: 928px;
  box-sizing: border-box;
}

/* ================================================================================================ */

.yearAndTotal {
  width: 160px;
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
}

.yearAndTotalforTraining {
  width: 150px;
  gap: 65px;
}

/* ================================================================================================ */

.author {
  position: absolute;
  left: 46%;
}

.authorforTraining {
  left: 42%;
}

/* ================================================================================================== */

p {
  margin: 0;
}

.title {
  margin: 0 0 24px;
  text-align: left;
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* =================================================================================================== */

.listAndButton {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.listAndButtonfotTraining {
  position: static;
  max-height: 180px;
  padding: 16px 0 16px;
  width: 928px;
  overflow: auto;
  overflow-x: hidden;
  /* flex: 1; */
  border-bottom: 1px solid #e0e5eb;
  margin-bottom: 40px;
}

/* ================================================================================================== */

.icon {
  stroke: white;
  fill: white;
}

/* =========================================================================================== */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .titles {
    padding-right: 10px;
  }
  .yearAndTotal {
    width: 183px;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
  }

  .author {
    position: absolute;
    left: 47%;
  }

  .listAndButtonfotTraining {
    position: static;
    max-height: 180px;
    padding: 16px 0 16px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    flex: 1;
    border-bottom: 1px solid #e0e5eb;
    margin-bottom: 40px;
  }

  .titlesforTraining {
    width: 100%;
    padding-right: 58px;
  }

  .authorforTraining {
    left: 42%;
  }

  .yearAndTotalforTraining {
    gap: 30px;
    width: 151px;
  }
}

/* =================================================================================================== */

/* @media screen and (max-width: 767px) {
  .home {
    padding: 32px;
  }

  .yearAndTotalAndAuthor {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
    font-size: 12px;
    position: absolute;
  }

  .author {
    position: static;
  }

  .yearAndTotal {
    width: auto;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
  }
} */
