.item {
  display: flex;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  height: 62px;

  justify-content: space-between;
  padding: 0 84px 0 20px;
  position: relative;
  color: #242a37;
  font-family: Montserrat;
  font-size: 14px;

  font-weight: 500;
}

.itemForTraining {
  padding: 0 32px 0 0;
  box-shadow: none;
  box-sizing: border-box;
  background: transparent;
  height: 100%;
}

.itemForTraining:not(:last-of-type) {
  margin-bottom: 22px;
}

/* ================================================================================================ */

.yearAndTotal {
  width: 160px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.yearAndTotalForTraining {
  width: 132px;
  gap: 0;
}

.yearAndTotalAlreadyRead {
  width: 140px;
}

/* ============================================================================================== */

.yearAndTotalAndAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yearAndTotalAndAuthorForTraining {
  width: 273px;
}
.yearAndTotalAndAuthorAlreadyRead {
  width: 520px;
  justify-content: space-between;
}

/* ============================================================================================= */

.author {
  align-items: center;
  position: absolute;
  left: 46%;
}

.authorForTraining {
  left: 42%;
  width: 150px;
  text-align: left;
}

.authorAlreadyRead {
  width: 150px;
  left: 360px;
}

/* ================================================================================================ */

.titleAndSvg {
  display: flex;
  align-items: center;
  gap: 18px;
}

.trainingtitleAndSvg {
  gap: 14px;
}

/* ================================================================================================ */

.icon {
  fill: #a6abb9;
  flex-shrink: 0;
}

.iconDelete {
  fill: #a6abb9;
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  right: 32px;
}

.titleForTraining {
  width: 560px;
}

.LinesEllipsisAlreadyRead {
  width: 270px;
}

.LinesEllipsis {
  width: 250px;
}

.pagesTotal {
  width: 25px;
  text-align: left;
}

.checkbox {
  margin: 0;
}

.iconReadingNow {
  fill: #ff6b08;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxContainer {
  display: inline-block;
  position: relative;

  cursor: pointer;

  width: 15px;
  height: 15px;
}

.customCheckbox {
  position: absolute;

  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid #a6abb9;
}

.checkbox:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  left: 30%;
  /* top: 50%;  */
  transform: translate(-50%, -50%);

  width: 4px;
  height: 10px;
  border: solid #ff6b08;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox:checked + .customCheckbox {
  border-color: #ff6b08;
}

.resume {
  display: flex;
  gap: 60px;
  align-items: center;
}

.title {
  width: 560px;
}
/* ================================================================================================= */
/* =========================================================================================== */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .item {
    box-sizing: border-box;
    padding: 14px 20px;
  }

  .title {
    width: 250px;
    text-align: left;
    overflow: hidden;
  }

  .titleAndSvg {
    gap: 8px;
  }

  .itemForTraining {
    padding: 0 32px 0 0;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    height: 100%;
  }

  .yearAndTotalForTraining {
    margin-right: 80px;
  }

  .yearAndTotalAndAuthorForTraining {
    justify-content: flex-end;
  }

  .LinesEllipsis {
    width: 200px;
    text-overflow: ellipsis;
  }

  .author {
    width: 120px;
    position: absolute;
    left: 47%;
    text-align: left;
  }

  .authorForTraining {
    left: 37%;
  }

  .iconDelete {
    right: 16px;
  }

  .resume {
    gap: 22px;
  }

  .yearAndTotalAndAuthorAlreadyRead {
    width: 365px;
  }

  .yearAndTotalAlreadyRead {
    width: 100px;
  }

  .authorAlreadyRead {
    width: 100px;
    left: 190px;
  }

  .LinesEllipsisAlreadyRead {
    width: 140px;
  }
}

/* =================================================================================================== */

@media screen and (max-width: 767px) {
  .item {
    box-sizing: border-box;
    flex-direction: column;

    height: 193px;
    align-items: center;
    justify-content: space-between;

    padding: 18px 18px 40px;
    font-size: 12px;
  }

  .itemAlreadyRead {
    height: auto;
    padding: 18px 18px 18px;
  }

  .author {
    width: 130px;
    position: static;
    text-align: start;
  }

  .yearAndTotal {
    gap: 9px;
    width: 130px;
    display: flex;
    align-items: flex-start;

    flex-direction: column;
  }

  .yearAndTotalAndAuthor {
    gap: 9px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .titleAndSvg {
    margin-bottom: 8px;
    gap: 8px;
    align-self: flex-start;
  }

  .trainingtitleAndSvg {
    margin-bottom: 0;
    align-items: flex-start;
  }

  .title {
    width: 220px;
    text-align: left;
  }

  .span {
    position: absolute;
    left: 42px;
    color: #898f9f;
  }

  .titleForTraining {
    text-align: left;
    width: 180px;
    white-space: wrap;
    overflow: hidden;
  }

  .itemForTraining {
    margin: 0;
    padding: 20px 0 20px;
    border-bottom: 1px solid #e0e5eb;
  }

  .itemForTraining:not(:last-of-type) {
    margin-bottom: 0;
  }

  .spanForTraining {
    left: 30px;
  }

  .authorForTraining {
    margin-left: 70px;
  }

  .yearAndTotalForTraining {
    margin-left: 70px;
  }

  .iconDelete {
    right: 0;
    top: 20px;
  }

  .resume {
    display: block;
    gap: 20px;

    width: 200px;
  }

  .ratingBox {
    display: flex;
    width: 160px;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .RatingStars {
    align-self: flex-start;
    justify-self: flex-start;
  }

  .LinesEllipsisAlreadyRead {
    width: 180px;
  }
}
