.item {
  display: flex;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  height: 62px;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 84px 0 20px;
  position: relative;
  color: #242a37;
  font-family: Montserrat;
  font-size: 14px;

  font-weight: 500;
}

.itemGoingToRead {
  box-shadow: none;
  box-sizing: border-box;
  background: transparent;
  height: 100%;
  /* margin-bottom: 22px; */
  padding: 0 32px 0 0;
}

.itemGoingToRead:not(:last-of-type) {
  margin-bottom: 22px;
}

.yearAndTotal {
  width: 160px;
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
}

.yearAndTotalAndAuthor {
  display: flex;
  align-items: center;
}

.author {
  align-items: center;
  position: absolute;
  left: 46%;
}

.titleAndSvg {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  fill: #a6abb9;
  flex-shrink: 0;
}

/* =========================================================================================== */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .item {
    padding: 30px;
  }

  .title {
    width: 250px;
    text-align: left;
  }

  .author {
    width: 120px;
    position: absolute;
    left: 47%;
    text-align: left;
  }

  .titleAndSvg {
    gap: 8px;
  }
}

/* =================================================================================================== */

@media screen and (max-width: 767px) {
  .item {
    box-sizing: border-box;
    flex-direction: column;
    /* width: 280px; */
    height: 163px;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    padding: 18px 10px 18px;
    font-size: 12px;
  }

  .author {
    width: 110px;
    position: static;
    text-align: start;
  }

  .yearAndTotal {
    gap: 9px;
    width: 110px;
    display: flex;
    align-items: flex-start;

    flex-direction: column;
  }

  .yearAndTotalAndAuthor {
    gap: 9px;

    display: flex;
    flex-direction: column;

    align-self: flex-end;
  }

  .titleAndSvg {
    margin-bottom: auto;
    gap: 8px;
    align-self: flex-start;
  }

  .title {
    width: auto;
    text-align: left;
  }

  .span {
    position: absolute;
    left: 42px;
    color: #898f9f;
  }
}
