.checkboxContainer {
  display: inline-block;
  position: relative;

  cursor: pointer;

  width: 15px;
  height: 15px;
}

.checkboxContainerRatingStars {
  display: inline-block;
  position: relative;

  width: 15px;
  height: 15px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  stroke: #a6abb9;
  fill: white;
}

.checkbox:checked + .customCheckbox {
  stroke: #ff6b08;
  fill: #ff6b08;
}

.customCheckboxRatingStars {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  stroke: #ff6b08;
  fill: white;
}

.checkbox:checked + .customCheckboxRatingStars {
  stroke: #ff6b08;
  fill: #ff6b08;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0 0 10px;
}

.listRatingStars {
  list-style-type: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.text {
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  color: var(--deep-blue, #242a37);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.textarea {
  margin-top: 8px;
  border: 1px solid #a6abb9;
  height: 90px;
  padding: 8px;
  resize: none;
  outline: none;
}

.textarea:focus {
  border: 1px solid #a6abb9;
}

.btnBox {
  display: flex;
  margin-top: 10px;
}

/* ================================================================================================ */

@media screen and (max-width: 767px) {
  .listRatingStars {
    gap: 5px;
  }
}
